.shop_section {
  padding: 40px 80px;
  background-color: #f7f7f7;
  /* width: 1280px;
  height: 320px; */
}

.shop_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.shop_text h2 {
  font-size: 48px;
  font-weight: 500;
  color: #222;
  margin-bottom: 16px;
}

.shop_text button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.shop_image img {
  width: 700px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}