.experiences_section {
  padding: 40px 80px;
}

.experiences_section h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #000000;
  line-height: 44px;
}

.experiences_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.experience_card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.experience_card img {
  width: 628px;
  height: 628px;
  object-fit: cover;
}